body {
    background-image: url("https://images.unsplash.com/photo-1605296867304-46d5465a13f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Z3ltJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=700&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 130px 3px 130px;
    justify-content: center;
    align-items: center;
    color: white;
    height: 770px;
    margin-top: -175px;
}

#home p {
    text-align: center;
}

#navbar {
    display: flex;
    align-items: center;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}

.logo {
    margin: 31px 24px 23px 31px;
}

.logo img {
    height: 80px;
    margin: 0px;
    padding-left: 40px;
    border-radius: 50%;

}

#navbar {
    position: relative;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 20px;
    font-family: fantasy
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    background-color: white;
    color: black;
}

.heading0 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}

.para1 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}



.btn {
    padding: 6px 12px;
    border: 2px solid white;
    border-radius: 12px;
    font-size: 18px;
    margin: 10px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.heading1 {
    font-size: 40px;
    padding: 10px 10px;
    color: white;
    text-align: center;
    margin-bottom: -0px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0px;
    background-image: url(img_services_re.jpg);
    font-family: 'Oswald', sans-serif;
}

.heading2 {
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.parabags {
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
    color: white;
}

.services {
    background-image: url(img_services_re.jpg);
    display: flex;
}

.box {
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.box img {
    height: 200px;
    display: block;
    margin: auto;
    border-radius: 20px;
}

.services_container {
    border-radius: 10px;
    margin-top: 20px;
}

.heading3 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    padding-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 25px;
    font-family: 'Oswald', sans-serif;
}

#client_section {
    background-image: url("img3re.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 95vh;
    margin-top: -20px;
}

#clients {
    display: flex;
    justify-content: space-evenly;
}

#img1 {
    height: 200px;
}

#img2 {
    margin-top: 30px;
}


#btn2,
#btn2_1 {
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    margin-top: 0px;
}

.btn {
    background-color: transparent;
    color: white;
    text-transform: bold;
}

#btn3,
#btn3_1 {
    display: flex;
    flex-direction: column;
    margin-left: 95px;
    margin-top: 10px;
    
}

#btn3 {
    margin-top: 30px;
}

#contact {
    position: relative;
    margin-top: -20px;
}

#contact::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background-image: url("https://imgs.search.brave.com/bxhsDdUBq54ZE29rrlImdiE2FTKNyKOwZZQw4aEST7k/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9nZXR3/YWxscGFwZXJzLmNv/bS93YWxscGFwZXIv/ZnVsbC8xLzYvMC8x/MjM2Njc3LWd5bS1t/b3RpdmF0aW9uLXdh/bGxwYXBlci0yNTYw/eDE2MDAtZm9yLWh0/Yy5qcGc");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#heading4 {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: white;
    padding-top: 30px;
}

#contact_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact_box input,
#contact_box textarea {
    width: 100%;
    padding: 10px;
}

#contact_box form {
    width: 40%;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
}

#contact_box label {
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 5px;
}